.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;

}
h1{
    color: #333;

}
table{
    width: 100%;
    border-collapse: collapse;

}
thead{
    background-color: #333;
    color: white;

}

tr{
    border-bottom: 1px solid #ddd;
}
th, td{
    padding: 10px;
    text-align: left;
}
button{
    padding: 5px 10px;
    margin: 1px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;


}
.new{
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}